<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Compromisos App</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/home/commitments/list">Mis Compromisos</a>
        </li>
      </ul>
      
      <div class="d-flex align-items-center">
        <span class="text-light me-3">Usuario Demo</span>
        <div class="bg-secondary rounded-circle d-flex justify-content-center align-items-center text-white" style="width: 40px; height: 40px;">
          UD
        </div>
        <button class="btn btn-outline-light btn-sm ms-3">Salir</button>
      </div>
    </div>
  </div>
</nav>